body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.login-cards{
display:flex;
gap:30px;
padding: 25px 40px;
height:350px;
width:880px;
border-radius: 10px;
background-color:#fff2e0;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.login-left{
    height:350px;
    width:415px;
    background-color:#fff2e0;
    border-radius: 5px;
    flex:1;
    flex-direction: coloumn;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border: solid 1px #b48181;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.login-left img{
    width:415px;
}
.login-right{
   height:290px;
    width: 350px;
    padding:10px;
    background-color: white;
    border-radius: 15px;
    flex:1;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.login-right h2{
    font-family:'Cinzel', serif ;
    color: #4b2e2e;
    margin-bottom: 6px;
    padding-left: 20px;
}
.login-right p{
      font-family: 'Poppins', sans-serif;
       color: #4b2e2e;
       font-size: 0.9rem;
       margin-bottom: 25px;
       padding-left: 20px;
}
.form{
    width:auto;
    height:60px;
    display:flex;
    padding:0px;
    gap:12px;
}
.contact-form{
    width:250px;
    height:45px;
    border-radius:20px;
    margin-top: 30px;
    text-align: center;
    margin-left: 20px;
    font-size: 0.9rem;border: none;
      background-color: #fffaf5;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
.contact-form::placeholder {
  color: #a78b8b;
  font-size: 0.85rem;
}
.contact-form:hover{
    border-color: #b78e31;
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.3)
}
.btn{
    width:80px;
    height:50px;
    margin-left:15px;
    border-radius: 25px;
    border: none;
    font-weight: 500;
}
.btn-primary{
  background: linear-gradient(180deg, #d4af37, #b88a1b);
  color: white;
  box-shadow: 0 6px 14px rgba(183, 142, 49, 0.25);  
}
.btn-primary:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(183, 142, 49, 0.35);
}
.btn-primary:active{
    transform:translateY(0);
}
.login-bottomtxt a{
    text-decoration: none;
    color: #662020;
}
.login-exit{
    display: block;
    margin-left:50px;
    font-weight: 100;
    font-size:x-large;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
